.daypicker__day--odd:not(.daypicker__day--outside) {
  background-color: red;
  color: white;
}

.daypicker__day--even:not(.daypicker__day--outside) {
  background-color: blue;
  color: white;
}

.daypicker__day--blahblah:not(.daypicker__day--outside) {
  background-color: black;
  color: white;
}
