.Range .daypicker__day {
  outline: none;
}

.Range .daypicker__day--disabled {
  background-color: white;
  color: lightgray;
}

.Range .daypicker__day:not(.daypicker__day--outside):not(.daypicker__day--selected):hover {
  background-color: #EAEAEA;
  color: #555;
}

.daypicker__day--from,
.daypicker__day--to {
  position: relative;
}

.daypicker__day--from:not(.daypicker__day--outside):before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  width: 5px;
  content: '';
  background-color: yellowgreen;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.daypicker__day--to:not(.daypicker__day--outside):after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -5px;
  width: 5px;
  content: '';
  background-color: yellowgreen;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}