/* daypicker styles */

.daypicker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 1rem 0;
  user-select: none;
  flex-direction: row;
}

  .daypicker__navbar {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 .5rem;
    top: 1rem;
  }

    .daypicker__navbar__button {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      cursor: pointer;
    }

      .daypicker__navbar__button--prev {
        left: 1rem;
      }

      .daypicker__navbar__button--next {
        right: 1rem;
      }

  .daypicker__month {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    user-select: none;
    margin: 0 1rem;
  }
    .daypicker__month__caption {
      height: 1.5rem;
      text-align: center;
    }

    .daypicker__month__weekdays {
      display: table-header-group;
    }

      .daypicker__month__weekdays__row {
        display: table-row;
      }

        .daypicker__month__weekdays__weekday {
          display: table-cell;
          padding: .5rem;
          font-size: .875em;
          text-align: center;
          color: #8b9898;
        }

    .daypicker__month__body {
      display: table-row-group;
    }

    .daypicker__month__week {
      display: table-row;
    }

  .daypicker__day {
    display: table-cell;
    padding: .5rem;
    border: 1px solid #eaecec;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
  }

      .daypicker__weekNumber {
        display: table-cell;
        padding: .5rem;
        text-align: right;
        vertical-align: middle;
        min-width: 1rem;
        font-size: 0.75em;
        cursor: pointer;
        color: #8b9898;
      }

  .daypicker--interactionDisabled .daypicker__day {
    cursor: default;
  }

  .daypicker__footer {
    display: table-caption;
    caption-side: bottom;
    padding-top: .5rem;
  }

  .daypicker__todayButton {
    border:none;
    background-image:none;
    background-color:transparent;
    box-shadow: none;
    cursor: pointer;
    color: #4A90E2;
    font-size: 0.875em;
  }

/* Default modifiers */

  .daypicker__day--today {
    color: #d0021b;
    font-weight: 500;
  }

  .daypicker__day--disabled {
    color: #dce0e0;
    cursor: default;
    background-color: #eff1f1;
  }

  .daypicker__day--outside {
    cursor: default;
    color: #dce0e0;
  }

  /* Example modifiers */

  .daypicker__day--sunday {
    background-color: #f7f8f8;
  }

  .daypicker__day--sunday:not(.daypicker__day--today) {
    color: #dce0e0;
  }

.daypicker__day--selected:not(.daypicker__day--disabled):not(.daypicker__day--outside) {
  color: #FFF;
  background-color: #4A90E2;
}

/* DayPickerInput */

.DayPickerInput {
  display: inline-block;
}

.DayPickerInput-OverlayWrapper {
  position: relative;
}

.DayPickerInput-Overlay {
  left: 0;
  position: absolute;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
}
